#header{
    /*text-align: center;*/
    display:block;
    width:100%;
    margin-top:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 100;
    background-color:#eaf0c7;
    
}
.headdiv{
        
        /*margin-left: 600px;*/
        display: inline-block;
        font-size:1.25rem;
        padding:0px 50px 0px 50px;
        margin-top: 20px;
        float: right;
}
body{
        
        background-color: #000000;
        align-items:center;
        margin-top:150px;
    
}  
.heading{
    display: inline-block;
    
    position: relative;
    margin-top: 20px;
    margin-left:5%;
    
    }  
    .index{
    
        color:#434242;
        margin-left: 10px;
        text-decoration: none;
        display: inline-block;
        margin-top:0px;
        /*padding: 0.1%;
        margin-left:0.1%; 
        margin-right:0.1%; */
    }
    
    .index:hover{
    
        color:rgba(144, 179, 219, 0.541);
    }

    .imgwrap{
        
        
        width:10%;
        border-radius: 50%;


    }

    .upscaler{
        padding-bottom:0px;
        background-color:white;
        width:80%;
        height:1000px;
        margin:auto;
    }



p{

    font-size: 1.2rem;
    font-family: Helvetica , Arial, sans-serif;
    margin-left: 5%;
}

h1{
    margin-left: 5%;
    font-family: Garamond, serif;
    color:rgb(18, 10, 14);
} 

.lab{

    font-size: 1.2rem;
}

.cont{
    display: block;
    position: absolute;
    top: 150px;
    left: 230px;
    width :70%;
    padding: 10px 0px 100px 0px;
    margin: 100px auto;
    border: 3px dashed;
    border-color: rgb(100, 204, 48);
}

.Iu{
    width: 12.5%;
    display: block;
    margin:20px auto;
}
